.divsearch {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 20%;
    padding: 30px;
}

.inputsearch {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}