body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.divsearch {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 20%;
    padding: 30px;
}

.inputsearch {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ulnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 4px;
}


.linavbar {
    float: left;
}

.linavbar:hover {
    background-color: #292929;
}

.activenavbar {
    background-color: #04AA6D;
}

.activenavbar:hover {
    background-color: #038857;
}

.profilenavbar {
    float: right;
}

.anavbar {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
