body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
    color: red;
    font-size: 10px;
}

.clean {
    text-decoration: none;
}

.button {
    background-color: #00a1d6;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: .15s;
}

.button:hover {
    background-color: #0092c2;
}

.settings {
    margin-left: 15px;

}