{% extends "layout_navbar.html" %}

{% block head %}
    <link href="/static/about_style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <ul class="navbarul">
        <li class="navbarli"><a href="/" class="navbara">Home</a></li>
        <li class="navbarli"><a href="/search" class="navbara">Search</a></li>
        <li class="navbarli navbaractive"><a href="/about" class="navbara">About</a></li>
        <li class="navbarli navbara navbartime" id="time"></li>
        <li class="navbarli navbarprofile"><a href="/profile" class="navbara">{{username}}</a></li>
    </ul>

    <div class="divsettings">

        <button class="githubbutton"><a href="https://github.com/revandrazm/webApp" class="githubtext">GitHub Repo</a></button>
        
    </div>
{% endblock %}