{% extends "layout.html" %}

{% block head %}
	<link href="/static/css/form_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
		<div class="container bgcolor">
			<form action="/change_password" method="post">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" name="username" aria-describedby="username" autocomplete="off">
				</div>
				<div class="mb-3">
					<label for="old_password" class="form-label">Old Password</label>
					<input type="password" class="form-control" name="old_password" aria-describedby="old_password" autocomplete="off">
				</div>
				<div class="mb-3">
					<label for="new_password1" class="form-label">New Password</label>
					<input type="password" class="form-control" name="new_password1" aria-describedby="new_password1" autocomplete="off">
				</div>
				<div class="mb-3">
					<label for="new_password2" class="form-label">Confirm New Password</label>
					<input type="password" class="form-control" name="new_password2" aria-describedby="new_password2" autocomplete="off">
				</div>
				<div class="mb-3">
					<p class="error-message" id="error-message"><br>{{error_message}}</p>
				</div>
				<button type="submit" class="btn btn-primary">Change Password</button>
			</form>
		</div>
	</div>
	
	<script src="/static/js/form_script.js"></script>
{% endblock %}