{% extends "layout.html" %}

{% block head %}
    <link href="/static/delete/delete_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <!-- form -->
    <div class="divdelete">
        <form action="/delete" method="post" autocomplete="off" onclick="return true">
            <label for="username">Username</label>
            <input name="username" type="text" class="username" placeholder="Username" autofocus>

            <label for="password1">Password</label>
            <input name="password1" type="password" class="password" placeholder="Password">
            
            <p class="error" id="error">{{errorMessage}}</p>
            <button id="delete" class="button">Delete Account</button>
        </form>
    </div>

    <script src="/static/delete/delete_script.js"></script>

{% endblock %}