{% extends "layout_navbar.html" %}

{% block head %}
    <link href="/static/index_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-item nav-link active" href="#">Home</a></li>
                <li><a class="nav-item nav-link" href="/about">About</a></li>
                <li><a class="nav-item nav-link" href="/search">Search</a></li>
            </ul>
            <ul class="navbar-nav mx-auto">
            <li><a class="nav-item nav-link" id="time"></a>
            </ul>

            <a class="nav-item nav-link" href="/profile">{{username}}</a>
        </div>
    </nav>

{% endblock %}