{% extends "layout_navbar.html" %}

{% block head %}
    <link href="/static/index_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav abs-center-x">
                <li class="nav-item navbar-brand"><a class="nav-link" id="time" style="cursor: default"></a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">{{username}}</a>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}
{% block footer %}

    <div class="fixed-bottom bg-dark p-2">
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" onclick="openNewTab('https://instagram.com/revandrazm/')" role="button" style="cursor: pointer;"><i class="fab fa-instagram" style="color: white;"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" onclick="openNewTab('https://github.com/revandrazm/')" role="button" style="cursor: pointer;"><i class="fab fa-github" style="color: white;"></i></a>
    </div>
    
{% endblock %}