<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>webApp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/navbar_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="/static/js/navbar_script.js"></script>
    </body>
    <footer>
        <div class="fixed-bottom bg-dark p-2">
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" onclick="openNewTab('https://instagram.com/revandrazm/')" role="button" style="cursor: pointer;"><i class="fab fa-instagram" style="color: white;"></i></a>
    
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" onclick="openNewTab('https://github.com/revandrazm/')" role="button" style="cursor: pointer;"><i class="fab fa-github" style="color: white;"></i></a>
        </div>
    </footer>
</html>