<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>App</title>  
        <link href="/static/navbar.css" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="/static/time.js"></script>
    </body>
</html>