{% extends "layout.html" %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account["id"]}}</td>
                <td>{{account["username"]}}</td>
                <td>{{account["password"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}