{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/form_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="container bgcolor">
            <form action="/rename" method="post">
                <div class="mb-3">
                    <label for="current_username" class="form-label">Current Username</label>
                    <input type="text" class="form-control" name="current_username" aria-describedby="current_username" placeholder="Enter current username..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="new_username" class="form-label">New Username</label>
                    <input type="text" class="form-control" name="new_username" aria-describedby="new_username" placeholder="Enter new username..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password1" aria-describedby="password1" placeholder="Enter password..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Re-Enter Password</label>
                    <input type="password" class="form-control" name="password2" aria-describedby="password2" placeholder="Re-Enter password..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <p class="error-message" id="error-message"><br>{{errorMessage}}</p>
                </div>
                <button type="submit" class="btn btn-primary">Change Username</button>
            </form>
        </div>
    </div>
    
    <script src="/static/script.js"></script>
{% endblock %}