{% extends "layout.html" %}

{% block head %}
    <link href="/static/rename_style.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <!-- form -->
    <div class="divrename">
        <form action="/rename" method="post" autocomplete="off" onclick="return true">
            <label for="current_username">Current Username</label>
            <input name="current_username" type="text" class="username" placeholder="Username" autofocus>

            <label for="new_username">New Username</label>
            <input name="new_username" type="text" class="username" placeholder="New Username">

            <label for="password1">Password</label>
            <input name="password1" type="password" class="password" placeholder="Password">

            <label for="password2">Re-Enter Password</label>
            <input name="password2" type="password" class="password" placeholder="Re-Enter Password">
            
            <p class="error" id="error">{{errorMessage}}</p>
            <button id="delete" class="button">Rename Account</button>
        </form>
    </div>

    <script src="/static/script.js"></script>
{% endblock %}