{% extends "layout.html" %}

{% block head %}
    <link href="/static/navbar.css" rel="stylesheet">
    <link href="/static/search_style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <div>
        <ul class="navbarul">
            <li class="navbarli"><a href="/" class="navbara">Home</a></li>
            <li class="navbarli navbaractive"><a href="/search" class="navbara">Search</a></li>
            <li class="navbarli"><a href="/settings" class="navbara">Settings</a></li>
            <li class="navbarli navbara navbartime" id="time"></li>
            <li class="navbarli navbarprofile"><a href="/profile" class="navbara">{{username}}</a></li>
        </ul>
    </div>

    <div class="divsearch">
        <label for="username">Search for username</label>
        <input id="username" type="text" class="inputsearch" placeholder="Search" autocomplete="off" autofocus>

        <ul id="showUsername"></ul>
    </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            
            let input = document.querySelector("input");
            input.addEventListener("keyup", function() {
                $.get("/output?q=" + input.value, function(accounts) {
                    let html = "";
                    for (let id in accounts) {
                        let username = accounts[id].username;
                        html += "<li>" + username + "</li>";
                    }
                    document.querySelector("#showUsername").innerHTML = html
                });
            });

        </script>

        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="/static/time.js"></script>
    </div>
{% endblock %}