{% extends "layout_navbar.html" %}

{% block head %}
    <link href="/static/search/search_style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <div>
        <ul class="navbarul">
            <li class="navbarli"><a href="/" class="navbara">Home</a></li>
            <li class="navbarli navbaractive"><a href="/search" class="navbara">Search</a></li>
            <li class="navbarli"><a href="/settings" class="navbara">Settings</a></li>
            <li class="navbarli navbara navbartime" id="time"></li>
            <li class="navbarli navbarprofile"><a href="/profile" class="navbara">{{username}}</a></li>
        </ul>
    </div>

    <div class="divsearch">
        <label for="username">Search for username</label>
        <input id="username" type="text" class="inputsearch" placeholder="Search" autocomplete="off" autofocus>

        <ul id="showUsername"></ul>
    </div>

    <script src="/static/search/search_script.js"></script>
{% endblock %}