<!-- modal -->
<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="container">
        <form action="/delete" method="post">
            <p>Are you sure you want to delete your account?</p>
            <button id="no" class="no" type="button">No</button>
            <button id="yes" class="yes" for>Yes</button>
        </form> 
      </div>
    </div>
  
</div>

<script src="/static/delete/delete_script.js"></script>
<script>
    window.onload = function() {
    document.querySelector("#no").addEventListener("click", function() {
        document.querySelector("#modal").style.display = "none";
    });
}
</script>